<h1>Listing requests</h1>

<table>
  <tr>
    <th>Ip</th>
    <th>Url</th>
    <th>Title</th>
    <th>Browser</th>
		<th>Behaviour</th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.ip %></td>
    <td><%= request.url %></td>
		<td><%= request.title %></td>
		<td><%= request.browser %></td>
		<td><%= request.behaviour %></td>
  </tr>
<% end %>
</table>
