<p id="notice"><%= notice %></p>

<p>
  <b>Ip:</b>
  <%= @request.ip %>
</p>

<p>
  <b>Url:</b>
  <%= @request.url %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
